Repository 5kdn/DCS-Translation-Japanese-Downloader, changes with the labels that .github/labeler.yml gives for each.
All labels: Vews / ViewModels, Services, Models, Build, Tests, CI / GitHub Actions, Docs, Assets / Images, Code Style / Analyzer

chore: fix githooks
  .githooks/pre-commit
Labels: none

chore!: octokitからbackground api serviceに切り替え
  package.json
  pnpm-lock.yaml
  src/Models/TreeEntry.ts
  src/Services/apiClient.ts
  src/Services/download.ts
  src/Services/github.ts
  src/Views/App.vue
  src/Views/parts/DownloadItem.stories.ts.old
  src/Views/parts/DownloadItem.vue
  src/type.ts
  vite.config.ts
Labels: Services, Models, Build

chore: update dependencies
  package.json
  pnpm-lock.yaml
Labels: Build

chore: remove unused
  src/Services/apiClient.ts
  src/Views/App.vue
  src/Views/parts/DownloadItem.stories.ts
  src/Views/parts/DownloadItem.vue
  src/type.ts
Labels: Services

ci: add release-please
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
Labels: CI / GitHub Actions

ci: add notify-external-repo.yml
  .github/workflows/notify-external-repo.yml
Labels: CI / GitHub Actions

chore: fix githooks (#1)
  .githooks/pre-commit
Labels: none

ci: notify to external repo (#2)
  .github/workflows/notify-external-repo.yml
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
Labels: CI / GitHub Actions

feat: switch to cf worker (#3)
  package.json
  pnpm-lock.yaml
  src/Models/TreeEntry.ts
  src/Services/apiClient.ts
  src/Services/download.ts
  src/Services/github.ts
  src/Views/App.vue
  src/Views/parts/DownloadItem.stories.ts
  src/Views/parts/DownloadItem.vue
  src/type.ts
  vite.config.ts
Labels: Services, Models, Build

chore(master): release dcs-translation-japanese-downloader 0.0.2
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

chore(master): release dcs-translation-japanese-downloader 0.0.2 (#4)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

fix: bugs
  .githooks/pre-commit
  .gitignore
  src/Views/App.stories.ts
  src/Views/App.vue
  src/Views/parts/Button.vue
  src/Views/parts/DownloadItem.vue
  src/types/vuetify.d.ts
  tsconfig.node.json
  types/shim-node.d.ts
  vite.config.ts
Labels: Build

fix: bugs (#5)
  .githooks/pre-commit
  .gitignore
  src/Views/App.stories.ts
  src/Views/App.vue
  src/Views/parts/Button.vue
  src/Views/parts/DownloadItem.vue
  src/types/vuetify.d.ts
  tsconfig.node.json
  types/shim-node.d.ts
  vite.config.ts
Labels: Build

chore(master): release dcs-translation-japanese-downloader 0.0.3
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

chore(master): release dcs-translation-japanese-downloader 0.0.3 (#6)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

ci: fix tag name
  .release-please-config.json
Labels: none

ci: fix tag name (#7)
  .release-please-config.json
Labels: none

chore(master): release 0.0.4
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

chore(master): release 0.0.4 (#8)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

chore: rename vscode workspace file
  workspace.code-workspace
Labels: none

refactor: apply biome linting & formatting
  .githooks/pre-commit
  .githooks/pre-push
  .release-please-config.json
  .storybook/StoryWrapper.vue
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/withVuetifyTheme.decorator.ts
  .vscode/extensions.json
  biome.json
  package.json
  pnpm-lock.yaml
  src/Services/apiClient.ts
  src/Views/App.vue
  src/Views/parts/Button.stories.ts
  src/Views/parts/Button.vue
  src/Views/parts/DownloadItem.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/type.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  workspace.code-workspace
Labels: Services, Build

ci!: fix
  src/Services/apiClient.ts
Labels: Services

ci: fix tag name (#9)
  .githooks/pre-commit
  .githooks/pre-push
  .release-please-config.json
  .storybook/StoryWrapper.vue
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/withVuetifyTheme.decorator.ts
  .vscode/extensions.json
  DCS-Translation-Japanese-Downloader.code-workspace
  biome.json
  package.json
  pnpm-lock.yaml
  src/Services/apiClient.ts
  src/Views/App.vue
  src/Views/parts/Button.stories.ts
  src/Views/parts/Button.vue
  src/Views/parts/DownloadItem.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/type.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  workspace.code-workspace
Labels: Services, Build

chore(master): release dcs-translation-japanese-downloader 0.0.5
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

chore(master): release dcs-translation-japanese-downloader 0.0.5 (#10)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

feat: fix
  src/Services/apiClient.ts
  src/Views/parts/DownloadItem.vue
  tsconfig.app.json
Labels: Services, Build

feat: fix
  src/Views/parts/DownloadItem.vue
Labels: none

build: update
  package.json
  src/Views/parts/DownloadItem.vue
Labels: Build

feat: fix (#11)
  package.json
  src/Services/apiClient.ts
  src/Views/parts/DownloadItem.vue
  tsconfig.app.json
Labels: Services, Build

chore(master): release dcs-translation-japanese-downloader 0.0.6
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

chore(master): release dcs-translation-japanese-downloader 0.0.6 (#12)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

ci!: rp
  .release-please-config.json
Labels: none

ci: rp (#13)
  .release-please-config.json
Labels: none

chore(master): release 0.0.7
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

chore(master): release 0.0.7 (#14)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

ci!: rp2
  biome.json
  package.json
  pnpm-lock.yaml
  src/Views/App.vue
  tsconfig.app.json
  vite.config.ts
Labels: Build

ci!: rp2 (#15)
  biome.json
  package.json
  pnpm-lock.yaml
  src/Views/App.vue
  tsconfig.app.json
  vite.config.ts
Labels: Build

chore(master): release 0.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

chore(master): release 0.1.0 (#16)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Labels: Build, Docs

refactor: move Button & DownloadItem
  src/Views/App.vue
  src/components/common/Button.stories.ts
  src/components/common/Button.vue
  src/components/common/DownloadItem.stories.ts
  src/components/common/DownloadItem.vue
Labels: none

.github/labeler.yml:

# ------------------------------------------------------------
# .github/labeler.yml
# Purpose:
#   - PR の変更ファイルパスに応じて自動ラベル付与
#   - ラベルは事前にリポジトリ側で作成しておくこと（Settings > Labels）
# Notes:
#   - actions/labeler@v5 形式（changed-files / any-glob-to-any-file）
#   - ここにないラベル（prio/*, status/* など）は人手または他Automationで付与
#   - パターンは必要に応じて編集してください
# ------------------------------------------------------------

"Vews / ViewModels":
  - changed-files:
    - any-glob-to-any-file: "src/Vews/*.stories.ts"
    - any-glob-to-any-file: "src/Vews/*.vue"

"Services":
  - changed-files:
    - any-glob-to-any-file: "src/Services/*.ts"

"Models":
  - changed-files:
    - any-glob-to-any-file: "src/Models/*.ts"


"Build":
  - changed-files:
    - any-glob-to-any-file: "package.json"
    - any-glob-to-any-file: "pnpm-*.yaml"
    - any-glob-to-any-file: "tsconfig*.json"
    - any-glob-to-any-file: "vite*.ts"
    - any-glob-to-any-file: "vite*.js"

"Tests":
  - changed-files:
    - any-glob-to-any-file: "*Tests/**"

"CI / GitHub Actions":
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/**"

"Docs":
  - changed-files:
    - any-glob-to-any-file: "README.md"
    - any-glob-to-any-file: "docs/**"
    - any-glob-to-any-file: "**/*.md"

"Assets / Images":
  - changed-files:
    - any-glob-to-any-file: "src/assets/*"

"Code Style / Analyzer":
  - changed-files:
    - any-glob-to-any-file: ".editorconfig"
    - any-glob-to-any-file: ".globalconfig"
    - any-glob-to-any-file: "stylecop.json"
    - any-glob-to-any-file: "**/*.ruleset"
